{% load static %}
<div class="container">
	<p class="text-center">Copyright &copy; 2018 BIRO TEKNOLOGI INFORMASI UMS</p>
</div>

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Core JS -->	
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'js/jquery.plugin.min.js' %}"></script>	
	<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'js/toastr.min.js' %}"></script>
	<script src="{% static 'js/icheck.min.js' %}"></script>
	<script src="{% static 'js/select2.min.js' %}"></script>
	<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>


	<!-- App JS -->
	<script src="{% static 'js/mvpready-core.js' %}"></script>
	<script src="{% static 'js/mvpready-helpers.js' %}"></script>
	<script src="{% static 'js/mvpready-admin.js' %}"></script>	