{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
table {
	white-space: nowrap;
}
</style>
<div class="row" style="margin-top:30px;">
	<div class="col-md-12">
		<div class="portlet portlet-boxed">
			<div class="portlet-header">
				<h4 class="portlet-title">Upload Peserta Ujian</h4>	
				<a href="{% url 'peserta_ujian' %}" class="pull-right"><i class="fa fa-angle-double-left "></i> Kembali ke daftar peserta</a>
			</div>
			<div class="portlet-body">
				{% if messages %}
				{% for  message in messages  %}
				<div {% if message.tags %} class="alert alert-{{message.tags}} display-hide" {% endif %} >
					<a class="close" data-dismiss="alert" href="#" aria-hidden="true"> x </a>
					{% autoescape off %}
					<span>{{message}}</span>
					{% endautoescape %}	
				</div>
				{% endfor %}		
				{% endif %}			
				{% crispy peserta_form %}
				{% if excel %}
				<div class="row">
					<div class="col-md-10 col-md-offset-1">						
						<table class="table table-condensed table-hover table-bordered" style="margin-top: 20px;">
							<thead>
								<th>NO</th>
								<th>NIM</th>
								<th>NAMA</th>
								<th>PROGRAM STUDI</th>
								<th>MATA KULIAH</th>
							</thead>
							<tbody>
								{% for e in excel %}
								<tr>
									<td>{{forloop.counter}}</td>
									<td>{{e.nim}}</td>
									<td>{{e.nama}}</td>
									<td>{{e.prodi}}</td>
									<td>{{e.mata_kuliah|upper}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>					
						
					</div>
				</div>
				{% endif %}			
			</div>
		</div>
	</div>
</div>

{% endblock content %}